DB_USERNAME = root
DB_NAME = transfers
DB_NAME_TEST = transfersTest
DB_HOSTNAME = mysqldb
DB_PASS = transfers123
DB_DRIVER = mysql
DB_PORT = 3306
API_BASE_URL = /
API_BODY_SIZE_LIMIT = 10mb
API_PARAMETER_LIMIT = 10000
API_LOCAL_PORT = 3000
FIXER_API_KEY = gbNsY5dnexNwiYTBjzy68eyHCDXzAZl5
PAGE_SIZE=10
PAGE=1
NODE_ENV = local